@model OrderViewModel
@{
}
<div class="container-fluid">
    <a class="btn btn-primary" hidden="@(Model.Items.Count == 0)" asp-action="CheckOut" asp-route-id="@Model.OrderId">Check out</a>
    <table class="table table-borderless">
        <thead>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
        </th>
        </thead>
        <tbody>
        @foreach (FoodOrderItem item in Model.Items)
        {
            <tr>
                <td>
                    @item.FoodItem.Name
                </td>
                <td>
                    @item.FoodItem.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
        </tbody>

    </table>

</div>
